#hero {
            background-color: #f8f9fa;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        h1, h2 {
            color: #007bff;
            font-weight: 700;
        }

        h1 {
            font-size: 3.5rem;
        }
        
        
        footer {
            background-color: #343a40;
            color: white;
            padding: 30px 0;
            margin-top: 50px;
        }

        .card-project {
            transition: all 0.3s ease-in-out;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: none;
        }

        .card-project:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
        }

        .nav-link:hover, .footer-link:hover {
            color: #28a745 !important;
            text-decoration: underline;
        }

        @media (max-width: 576px) {
            h1 {
                font-size: 2.5rem;
            }
        }
